
@media screen and (max-width: 700px) {


.weather-container {
    padding: 1%;
    height: 100%;
    background-color: black;
    width: 100%;


}

.weather-column {
    display: flex;
    flex-direction: column;
}

.app-intro {
    background-color: #8A71DF;
    height: 12vh;
    width: 92%;
    margin: 4%;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 25px;
    align-items: center;
}

.app-intro-title {
    text-align: center;
    height: 10px;
    width: 80%;
}

.app-intro-text {
    color: #fff;
    font-size: 15px;
}

.weather-city {
    color: #fff;
    font-size: 20px;
    text-align: center;
}

.weather-containe {
    display: flex;
    flex-direction: row;
}

.temperature-box {
   
    width: 100%;
    border-radius: 2px;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.weather-time {
margin-bottom: 10px;
    text-align: center;
}

.weather-time-text {
    font-size: 18px;
    color: #ffffff;
    font-weight: bold;
    text-shadow: 1px 1px 2px #808080, -1px -1px 2px #808080;
}
/* Estilos generales del select */
.weather-select {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #aaa;
  border-radius: 5px;
  appearance: none;
  background-color: #fff;
  width: 80%;
  max-width: 300px; /* Ajusta según tus necesidades */
  margin: 10px 0;
  cursor: pointer;
  margin-left: 10%;
}

/* Estilos para el fondo de la lista desplegable */
.weather-select::-ms-expand {
  display: none;
}

/* Estilos para las opciones en la lista */
.weather-select option {
  background-color: #f8f8f8;
  color: #333;
}

/* Estilos cuando el select está enfocado */
.weather-select:focus {
  outline: none;
  border-color: #007bff; /* Cambia al color que desees */
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Efecto de sombra */
}

/* Estilos al pasar el ratón sobre las opciones */
.weather-select option:hover {
  background-color: #dcdcdc; /* Cambia al color que desees */
}

/* Estilos para el borde cuando el select está desactivado */
.weather-select:disabled {
  border-color: #ccc;
  background-color: #f2f2f2;
  color: #666;
}

}
@media screen and (min-width: 700px) {
    .weather-container {
        padding: 1%;
        height: 100%;
        background-color: black;
        width: 100%;
    
    
    }
    
    .weather-column {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .app-intro {
        background-color: #8A71DF;
        height: 12vh;
        width: 80%;
        margin: 4%;
        border-radius: 15px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 25px;
        align-items: center;
    }
    
    .app-intro-title {
        text-align: center;
        height: 10px;
        width: 78%;
    }
    
    .app-intro-text {
        color: #fff;
        font-size: 22px;
    }
    
    .weather-city {
        color: #fff;
        font-size: 20px;
        text-align: center;
    }
    
    .weather-containe {
        display: flex;
        flex-direction: row;
    }
    
    .temperature-box {
       
        width: 100%;
        border-radius: 2px;
        display: flex;
        flex-direction: row;
        margin-top: 10px;
    }
    
    .weather-time {
    margin-bottom: 10px;
        text-align: center;
    }
    
    .weather-time-text {
        font-size: 18px;
        color: #ffffff;
        font-weight: bold;
        text-shadow: 1px 1px 2px #808080, -1px -1px 2px #808080;
    }

/* Estilos generales del select */
.weather-select {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #aaa;
  border-radius: 5px;
  appearance: none;
  background-color: #fff;
  width: 100%;
  max-width: 300px; /* Ajusta según tus necesidades */
  margin: 10px 0;
  cursor: pointer;
}

/* Estilos para el fondo de la lista desplegable */
.weather-select::-ms-expand {
  display: none;
}

/* Estilos para las opciones en la lista */
.weather-select option {
  background-color: #f8f8f8;
  color: #333;
}

/* Estilos cuando el select está enfocado */
.weather-select:focus {
  outline: none;
  border-color: #007bff; /* Cambia al color que desees */
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Efecto de sombra */
}

/* Estilos al pasar el ratón sobre las opciones */
.weather-select option:hover {
  background-color: #dcdcdc; /* Cambia al color que desees */
}

/* Estilos para el borde cuando el select está desactivado */
.weather-select:disabled {
  border-color: #ccc;
  background-color: #f2f2f2;
  color: #666;
}

}